@import "./src/styles.scss";

.hero-input {
  padding: 0 4rem;
  font-size: 2rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    display: inline-block;

    &:hover {
      background-color: $color-secondary;
      color: $color-light;
    }
  }

  .btn-save {
    &:hover {
      background-color: $color-primary;
      color: $color-light;
    }
  }
}
