<div class="grid-container">
  <!-- Toolbar -->
  <header class="header" role="banner">
    <h1>Welcome</h1>
    <nav>
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" routerLink="/">Home</a></li>
        <li class="menu__item"><a class="menu__link" routerLink="/heroes">Heroes</a></li>
      </ul>
    </nav>
  </header>

  <nav class="nav">
    <!-- messages -->
    <app-messages></app-messages>
  </nav>

  <main class="content" role="main">
    <router-outlet></router-outlet>
  </main>
  <!-- Footer -->
  <footer class="footer">
    <p>&copy; <a href="https://angular.io/tutorial/" target="_blank" rel="noopener noreferrer">Angular Tutorial</a> 2019 - v.8.2.14</p>
  </footer>
</div>
