@import "./src/styles.scss";

h2 {
  color: $color-dark;
  text-decoration: underline;
  text-decoration-color: $color-light;
  @supports (text-underline-offset: 10px) or (-moz-text-underline-offset: 10px) {
    text-underline-offset: 10px;
    -moz-text-underline-offset: 10px;
  }
}

.messages {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 2rem;
  padding: 1rem 4rem;

  & ul {
    margin-top: 2rem;
  }

  & li {
    padding: 2rem;
    background: $color-light;
    border-radius: 4px;
    color: $color-dark;
    font-weight: bold;
  }
}



.clear {
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  box-shadow: $shadow-sm;
  border: none;
  border-radius: 0;
  background-color: $color-light;
  color: $color-primary;
  font-weight: 700;
  padding: 1rem 4rem;
  cursor: pointer;
  cursor: hand;
  transition: all .2s ease-in;
}

.clear:hover,
.clear:active {
  transform: translateY(2px);
  background-color: darken($color-light, 10%);
}

.clear:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
