@import "./src/styles.scss";

h2 {
  color: $color-dark;
  padding-top: 1rem;
  text-decoration: underline;
  text-decoration-color: $color-light;
  background-color: rgba($color-light, .5);
  text-align: center;
  @supports (text-underline-offset: 10px) or (-moz-text-underline-offset: 10px) {
    text-underline-offset: 10px;
    -moz-text-underline-offset: 10px;
  }
}

.messages {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 2rem;
  padding: 2rem 4rem;

  & ul {
    margin-top: 2rem;
  }

  & li {
    padding: 2rem;
    background: $color-light;
    border-radius: 4px;
    color: $color-dark;
    font-weight: bold;
  }
}



.clear {
  background-color: $color-light;
  color: $color-primary;
  justify-self: end;
}

.clear:hover,
.clear:active {
  background-color: darken($color-light, 10%);
}
